<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>icon1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-20</string>
					<string>icon-29</string>
					<string>icon-40</string>
					<string>icon-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>icon2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>b-20</string>
					<string>b-29</string>
					<string>b-40</string>
					<string>b-60</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
